<div id="page-banner">
  <div id="page-details">
    <%=@merchant.name%>
  </div>

  <div id="merchant-links">
    <%= link_to "Dashboard", "/merchants/#{@merchant.id}", class: "dashboard-link"%>
    <%= link_to 'My Items', "/merchants/#{@merchant.id}/items",class: "items-link" %>
    <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices",class: "invoices-link" %>
    <%= link_to 'Bulk Discounts', "/merchants/#{@merchant.id}/bulk_discounts",class: "bulk-discount-link"%>
  </div>
</div>

<div id="dashboard-content">
  <div id="dashboard-content-left">
    <div class="content-column-title">
      Bulk Discounts
    </div>

    <%= link_to "Create New Bulk Discount", new_merchant_bulk_discount_path(@merchant), class:"new-discount-button"%>

    <div class="content-column-main">

      <div id="bulk-discount-list">
        <% @merchant.bulk_discounts.each do |discount| %>
          <div class="bulk-discount">
            <div id="bulk-discount-<%=discount.id%>">
              <p>
                <b>Bulk Discount</b>
              </p>
              <p>
                Percent Discount: <%=discount.percent_discount%>%
              </p>
              <p>
                Quantity Threshold: <%=discount.quantity_threshold%>
              </p>
                <%= link_to "Details", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", class: "bulk-discount-show-button"%>

                <%= link_to "Delete", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete, class: "bulk-discount-delete-button"%>
            </div>
          </div>
        <% end %>
      </div>

      <div id="holiday-discount-list">
        <% if @merchant.holiday_discounts.nil? == true %>
          No Holiday Discounts Created
        <% else %>
          <% @merchant.holiday_discounts.each do |discount|%>
            <div class="holiday-discount">
              <div id="holiday-discount-<%=discount.id%>">
                <p>
                  <b>Holiday Discount</b>
                </p>
                <p>
                  <%=discount.holiday_name.titleize%> Discount 
                </p>
                <p>
                  Percent Discount: <%=discount.percent_discount%>%
                </p>
                <p>
                  Quantity Threshold: <%=discount.quantity_threshold%>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="dashboard-content-right">
    <div class="content-column-title">
      Upcoming Holidays
    </div>
    <table id="upcoming-holidays-table">
      <tr>
        <th>Order</th>
        <th>Name</th>
        <th>Date</th>
        <th>Discount</th>
      </tr>
    <%@holiday_search.holiday_information.each_with_index do |holiday,index|%>
      <tr id="upcoming-holiday-<%=index+1%>">
        <td><%=index+1%></td>
        <td><%=holiday.name%></td>
        <td><%=holiday.date%></td>
        <td><%=link_to "New Discount",new_merchant_holiday_discount_path(@merchant, :holiday_name => holiday.name)%></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>



