<h1> merchant bulk discount index </h1>

<%= link_to "Create New Bulk Discount", new_merchant_bulk_discount_path(@merchant), class: "new-bulk-discount-link" %>

<div id="bulk-discount-list">
  <% @merchant.bulk_discounts.each do |discount| %>
    <div id="bulk-discount-<%=discount.id%>">
      <p>
        Percent Discount: <%=discount.percent_discount%>%
      </p>
      <p>
        Quantity Threshold: <%=discount.quantity_threshold%>
      </p>
      <p>
        <%= link_to "View Bulk Discount Details", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", class: "bulk-discount-show-link"%>
      </p>
    </div>
  <% end %>
</div>