<div id="page-banner">
  <div id="page-details">
    Admin Dashboard
  </div>
  <div id="admin-links">
    <%= link_to 'Dashboard', '/admin', class: "dashboard-link" %>
    <%= link_to 'Merchants', '/admin/merchants', class: "merchants-link" %>
    <%= link_to 'Invoices', '/admin/invoices', class: "invoices-link" %>
  </div>
</div>

<div id="dashboard-content">
  <div id="dashboard-content-left">
    <div class="content-column-title">
      Incomplete Invoices
    </div>

    <div class="content-column-main">
      <div id="incomplete-invoices">
        <% Invoice.invoices_with_items_not_shipped.each do |invoice| %>
          <p>
            <%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice.id) %>
            <%= invoice.formatted_date %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div id="dashboard-content-right">
    <div class="content-column-title">
      Top Customers
    </div>

    <div class="content-column-main">
      <ol>
        <% Customer.top_customers.each_with_index do |customer, index| %>
          <div id="customer-<%= index + 1%>">
            <li class="favorite-customer">
              <%= customer.first_name %> <%= customer.last_name %>, Successful Transactions: <%= customer.transaction_total %>
            </li>
          </div>
        <% end %>
      </ol>
    </div>

  </div>

</div>
